.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.tile {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted #000000;
}

img {
    width: 100%;
    height: 100%;
}

button {
    height: 100px;
    width: 100px;
    margin-top: 20px;
}

button {
    margin-right: 10px;
}